<div class="d-flex justify-center align-center" style="background: silver !important; width: 100% !important; height: 100vh !important;">
	<MudImage Fluid="true" Src="images/logo-improved.png" ObjectPosition="ObjectPosition.Center" Style="height: 70vh;" />
	<MudProgressCircular Indeterminate="true"
	                     Style="height: 200px; width: 200px; z-index: 5; opacity: 0.8; position: absolute;color: #03a9f4" />
</div>
@code {

}